
@{
    ViewData["Title"] = "About";
}

<h1>关于我们</h1>
<br />

<p>
    <b>经营范围：</b>标志桩、隔离蹲、铁路安全保护区A/B标、公路界碑、铁路保护烂、沟盖板、轮廓标、丝网立柱、百米桩、电缆槽、电缆接线盒、电力压板、警示桩、里程碑等。
</p>
<p>
    <b>优势描述：</b>选用质量上乘的原料，质量严格把关，产品坚固耐用。生产灵活，可以定制。
</p>
<p>
    <b>我为自己代言：</b>保定明德水泥预制构件厂，坐落于古城保定市清苑区，是一家专业的制造水泥构件的厂家，主要经营水泥隔离墩、水泥大瓦、公路界碑、水泥标志桩、楼板等水泥安全设施，客户也可以定制。
    本厂经营多年年具有丰富的制造经验，每件产品都合格把关，质优简练，我们的产品远销大陆各地，深受客户好评。恒远水泥构件厂，你放心的选择!
</p>